@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App {
  width: 480px;
  height: 800px;
  margin: 2rem auto;
  background-image: url('img/app.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s ease;
  border-radius: 10px;
  box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
}

.App:hover {
  box-shadow: 3px 3px 30px rgba(0,0,0,0.5);
}

.App.hot {
  background-image: linear-gradient(to bottom,
    rgba(255,167,16,0.52),
    rgba(0,0,0,0.75)),
    url('img/hot.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2 ease;
}

.App.cold {
  background-image: linear-gradient(to bottom,
    rgba(19, 162, 187, 0.52),
    rgba(0,0,0,0.75)),
    url('img/cold.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2 ease;
}

.App.wysi {
  background-image: linear-gradient(to bottom,
    rgba(19, 89, 187, 0.52),
    rgba(0,0,0,0.75)),
    url('img/bluezenith.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2 ease;
}

main {
  min-height: 100vh;
  padding: 25px;
}

.search-container {
  width: 100%;
  margin: 0 0 75px;
}

.search-bar {
  color: black;
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 15px;
  outline: none;
  border: none;
  appearance: none;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

.search-container .search-bar:focus {
  background-color: white;
}

.search-container button {
  justify-content: center;
}

.location-container {
  color: white;
  font-size: 30px;
  text-align: center;
  text-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

.location-container .date {
  color: white;
  font-size: 20px;
}

.weather-container {
  text-align: center;
}

.weather-container .temperature {
  color: white;
  position: relative;
  display: inline-block;
  margin: 30px auto;
  padding: 15px 25px;
  font-size: 100px;
  font-weight: bold;
  border:2px solid white;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  text-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

.weather-container .weather {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

/* .weather-container .weather .getWeatherDescription{

} */