@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #def0f370;
}

.App {
  width: 30rem;
  height: 40.625rem;
  margin: 1.5rem auto;
  background-image: url('img/app.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s ease;
  border-radius: 10px;
  box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}

.App:hover {
  box-shadow: 3px 3px 30px rgba(0,0,0,0.5);
}

.App.hot {
  background-image: linear-gradient(to bottom,    rgba(255,167,16,0.30),    rgba(0,0,0,0.75)),    url('img/hot.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2 ease;
  -webkit-transition: 0.2 ease;
  -moz-transition: 0.2 ease;
  -ms-transition: 0.2 ease;
  -o-transition: 0.2 ease;
}

.App.cold {
  background-image: linear-gradient(to bottom,rgba(19, 162, 187, 0.30),    rgba(0,0,0,0.75)),    url('img/cold.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2 ease;
  -webkit-transition: 0.2 ease;
  -moz-transition: 0.2 ease;
  -ms-transition: 0.2 ease;
  -o-transition: 0.2 ease;
}

.App.freeze {
  background-image: linear-gradient(to bottom, rgba(4, 107, 162, 0.30), rgba(0,0,0,0.75)),url('img/freeze.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2 ease;
  -webkit-transition: 0.2 ease;
  -moz-transition: 0.2 ease;
  -ms-transition: 0.2 ease;
  -o-transition: 0.2 ease;
}

.App.wysi { /*Ignore this it's meme*/
  background-image: linear-gradient(to bottom,
    rgba(19, 89, 187, 0.52),
    rgba(0,0,0,0.75)),
    url('img/bluezenith.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2 ease;
}

main {
  min-height: 100vh;
  padding: 1.625rem;
}

.search-container {
  width: 100%;
  margin: 0 0 2rem;
}

.search-bar {
  color: black;
  font-size: 1rem;
  display: block;
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  appearance: none;
  border-radius: 0.6rem;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}

.search-container .search-bar:focus {
  background-color: white;
}

.search-container button {
  justify-content: center;
}

.location-container {
  color: white;
  font-size: 1.625rem;
  text-align: center;
  text-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

.location-container .date {
  color: white;
  font-size: 20px;
}

.weather-container {
  text-align: center;
}

.weather-container .temperature {
  color: white;
  position: relative;
  display: inline-block;
  margin: 1.25rem auto;
  padding: 1rem 1.5rem;
  font-size: 90px;
  font-weight: bold;
  border:2px solid white;
  border-radius: 0.375rem;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  text-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
}

.weather-container .weather {
  color: #fff;
  font-size: 1.75rem;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

/* .weather-container .weather .getWeatherDescription{

} */